
header {
    background-image: url("../img/apples.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding-bottom: 100px;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0;
    overflow-y: scroll;
}

.topTitle {
    text-transform: uppercase;
    font-size: large;
}

.innerContainer {
    padding: 3% 14% 2% 11%;
}

.topSubHeader a {
    color: white;
    text-decoration: none;
    margin: 0 16px;
    padding: 10px 5px;
}

.topSubHeader a:hover {
    border-bottom: 2px solid white;
}

.menu {
    display: inline;
    float: right;
}

.centerTitle {
    position: absolute;
    padding-top: 170px;
    width: 100%;
    text-align: center;
}

.mainTitle {
    text-align: center;
    font-size: 5em;
    padding-bottom: 5px;
}

.topSmallerText {
    font-size: smaller;
}

.mainTitle sup {
    font-size: 0.25em;
    vertical-align: text-top;
}

#moreButton {
    margin: 450px auto auto;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px 55px;
    border: 1px white solid;
}

.subTitle {
    text-transform: capitalize;
}

#about div {
    width: 450px;
    display: inline-block;
    margin: 100px 0;
    font-size: larger;
    vertical-align: text-top;
}

#about div:nth-child(2n-1) {
    padding-right: 100px;
}

#about {
    padding-left: 11%;
    padding-right: 14%;
}

#show {
    padding: 100px 14% 100px 11%;
    background: #f3f3f3;
}

.centerText {
    text-align: center;
    margin-bottom: 100px;
    font-size: larger;
}

.articles > div {
    height: 250px;
    display: inline-block;
    margin-bottom: 1%;
    position: relative;
}

.articles > div:nth-child(2n-1) {
    margin-right: 1%;
}

.bigPic {
    width: 65.5%
}

.smallPic {
    width: 33%
}

.pic1 {
    background: url("../img/sample.jpg");
}

.pic2 {
    background: url("../img/sample2.jpg");
}

.pic3 {
    background: url("../img/sample3.jpg");
}

.pic {
    background-position: center;
    background-size: cover;
}

input[type='email'] {
    padding: 10px 7%;
    width: 60%;
    background: #f3f3f3;
    border: 2px grey solid;
    border-right: none;
}

input[type='submit'] {
    background: black;
    color: white;
    width: 40%;
    border: none;
    padding: 1% 5% 1% 5%;
}

.subscribeDiv {
    display: inline-flex;
}

#show .subscribeDiv {
    width: 60%;
}

#show input[type='submit'] {
    width: 30%;
}

.articleInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    vertical-align: middle;
    width: 100%;
    padding-top: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.likes {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    border: 2px white solid;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
}

span {
    color: white;
}

.articleInfo > span:first-child {
    padding-left: 30px;
}

#subscribe {
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 40px;
    background: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.articleDate {
    color: rgba(255, 255, 255, 0.6);
}

#contacts {
    padding: 3% 14% 2% 11%;
}

.flexContainer {
    display: flex;
}

.flexBlock {
    display: inline-block;
    min-height: 100px;
    width: 300px;
}

.flexBlock p {
    color: grey;
}

.flexBlock:not(:last-child) {
    margin-right: 50px;
}

footer {
    padding-top: 20px;
    margin: 3% 14% 2% 11%;
    border-top: 1px grey solid;
}

.authorRight {
    color: grey;
    font-size: small;
}

.footerMenu a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
}
