$contentBackground: #3b3b3b;
$bodyBackground: rgba(198, 238, 252, 0.53);
$textColor: #fccd10;
$borderColor: #f5c70f;
$tableBackColor: #94a34e;
$tableHeaderColor: #fff178;
$innerBlockColor: #fff178;
$innerBlockWidth: 100%;

$color: #3d70a1;
$color: #f5c70f;
/*
#fccd10;
#94a34e;
#677d01;
#f5c70f;
*/