$contentBackground: #ffffff;
$bodyBackground: #dcbb9a;
$textColor: #893c00;
$borderColor: #893c00;
$tableBackColor: #fff;
$tableHeaderColor: #808080;
$innerBlockColor: #fadcba;
$innerBlockWidth: 40%;


$color: #000000;
$color: #3d70a1;
$color: #e0e0e0;
/*

#893c00;
#000000
#3d70a1;
#e0e0e0;
#808080;
*/
