$contentBackground: #3b3b3b;
$bodyBackground: rgba(198, 238, 252, 0.53);
$textColor: #fccd10;
$borderColor: #f5c70f;
$tableBackColor: #04790e;
$tableHeaderColor: #94a34e;
$innerBlockColor: #fff178;
$innerBlockWidth: 96%;
$contentTestColor: #fff;
$linkColor: #f5c70f;

$color: #3d70a1;

/*
#fccd10;
#94a34e;
#677d01;
#f5c70f;
*/